<div class="table-wrap">
    <table class="admin-table">
        <thead>
            @Header
        </thead>
        <tbody>
            @Rows
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Rows { get; set; }
}
